.about_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-size: 4vh;
    font-weight: 550;
    margin: 3vh 5vh;
}

.my-line{
    width: 30vh;
    height: 1px;
    background-color: rgb(18, 18, 18);
}

.about_body{
    width: auto;
    height: 65vh;
    background-image: url('../images/about_uni_bg.jpeg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.home_btn{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1vh 1vh;
    position: inherit;
    width: 4vh;
}

.home_btn p{
    font-size: 2vh;
}

.background{
    display: flex;
    justify-content: center;
    width: auto;
}
.bg_text{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2vh;
    padding: 1vh;
    font-size: 2vh;
    font-weight:550;
    border: 1vh solid rgba(0, 0, 0, 0.507);
    border-radius: 5%;
}

.pic_cont{
    max-width: 30%;
    max-height: 55vh;
    margin: 2vh;
}

.bg_pic{
    max-width: 80%;
    max-height: 100%;
    border: 1vh solid rgba(2, 132, 207, 0.545);
    border-radius: 5%;
}