.words{
    width: 80%;
}
.about_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-size: 4vw;
    font-weight: 550;
    margin: 3vw 5vw;
}

.my-line{
    width: 30vw;
    height: 1px;
    background-color: rgb(18, 18, 18);
}

.about_container{
    background-image: url('../images/about_uni_bg.jpeg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.about_body{
    width: auto;
    display: flex;
}

.home_btn{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1vw 1vw;
    position: inherit;
    width: 4vw;
}

.home_btn:hover home_btn:click{
    background-color: skyblue;
}

.home_btn p{
    font-size: 2vw;
}

.background{
    display: flex;
    justify-content: center;
    width: auto;
    padding: auto;
}

.bg_text_cont{
    flex: 1;
    background-color: rgba(102, 0, 109, 0.6);
    margin: 2vw;
    padding: 2vw;
    font-size: calc(8px + 0.8vw);
    font-weight:550;
    border: 1vw solid rgba(0, 0, 0, 0.7);
    border-radius: 5vw;
    text-align: left;
    height: 40%;
}
.bg_text{
    color: white;
    overflow: scroll;
    height: 100%;
}

.bg_text p{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1vw;
    background-color: black;
}

.pic_cont{
    max-width: 30%;
    margin: 2vw;
}

.bg_pic{
    max-width: 80%;
    max-height: 100%;
    border: 1vw solid rgba(0, 0, 0, 0.7);
    border-radius: 5%;
}
.name{
    display: flex;
    justify-content: center;
    background-color:rgba(111, 8, 49, 0.675);
    margin: 1vw 15%;
    max-width: 80%;
    padding: 1vw;
    border: 0.8vw solid rgba(0, 0, 0, 0.7);
    border-radius: 2vw;
}
.name p{
    margin: 0;
    font-size: calc(10px + 1vw);
    font-weight: bold;
    font-family:'Lucida Sans' ;
    color: white;
    padding: 0vw;
}
.resume{
    cursor: pointer;
    max-width: 100%;
    color:white;
    padding: 1vw;
    font-weight: bold;
    
}
.resume img{
    width: 80%;
    border: 0.5vw solid rgba(0, 0, 0, 0.7);
    border-radius: 2vw;
}

.bg_text::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.bg_text::-webkit-scrollbar-thumb {
    
    background-color: white;
    border-radius: 3vw;
}
  
.bg_text::-webkit-scrollbar-track {
    background-color: transparent;
}
.bg_text::-webkit-scrollbar-corner {
    background-color: transparent;
}

.se_cont{
    background-color: rgba(195, 178, 0, 0.6);
    margin: 5vw 2vw;
    padding: 2vw;
    font-size: calc(8px + 0.8vw);
    font-weight:550;
    border: 1vw solid rgba(0, 0, 0, 0.7);
    border-radius: 5vw;
    text-align: left;
    color: white;
}
