.words{
    width: 80%;
}
.about_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-size: 4vh;
    font-weight: 550;
    margin: 3vh 5vh;
}

.my-line{
    width: 30vh;
    height: 1px;
    background-color: rgb(18, 18, 18);
}

.about_container{
    background-image: url('../images/about_uni_bg.jpeg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.about_body{
    width: auto;
    display: flex;
}

.home_btn{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1vh 1vh;
    position: inherit;
    width: 4vh;
}

.home_btn:hover{
    background-color: skyblue;
}

.home_btn p{
    font-size: 2vh;
}

.background{
    display: flex;
    justify-content: center;
    width: auto;
    padding: auto;
}

.bg_text_cont{
    flex: 1;
    background-color: rgba(102, 0, 109, 0.6);
    margin: 2vh;
    padding: 2vh;
    font-size: calc(8px + 0.8vw);
    font-weight:550;
    border: 1vh solid rgba(0, 0, 0, 0.7);
    border-radius: 5vh;
    text-align: left;
    height: 50%;
}
.bg_text{
    color: white;
    overflow: scroll;
    height: 100%;
}

.bg_text p{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1vh;
    background-color: black;
}

.pic_cont{
    max-width: 30%;
    margin: 2vh;
}

.bg_pic{
    max-width: 80%;
    max-height: 100%;
    border: 1vh solid rgba(0, 0, 0, 0.7);
    border-radius: 5%;
}
.name{
    display: flex;
    justify-content: center;
    background-color:rgba(111, 8, 49, 0.675);
    margin: 1vh 15%;
    max-width: 80%;
    padding: 1vh;
    border: 0.8vh solid rgba(0, 0, 0, 0.7);
    border-radius: 2vh;
}
.name p{
    margin: 0;
    font-size: calc(10px + 1vw);
    font-weight: bold;
    font-family:'Lucida Sans' ;
    color: white;
    padding: 0vh;
}
.resume{
    cursor: pointer;
    max-width: 100%;
    color:white;
    padding: 1vh;
    font-weight: bold;
    
}
.resume img{
    width: 80%;
    border: 0.5vh solid rgba(0, 0, 0, 0.7);
    border-radius: 2vh;
}

.bg_text::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.bg_text::-webkit-scrollbar-thumb {
    
    background-color: white;
    border-radius: 3vh;
}
  
.bg_text::-webkit-scrollbar-track {
    background-color: transparent;
}
.bg_text::-webkit-scrollbar-corner {
    background-color: transparent;
}

.se_cont{
    background-color: rgba(195, 178, 0, 0.6);
    margin: 5vh 0vh;
    padding: 2vh;
    font-size: calc(8px + 0.8vw);
    font-weight:550;
    border: 1vh solid rgba(0, 0, 0, 0.7);
    border-radius: 5vh;
    text-align: left;
    color: white;
}
