.BioLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.link {
    background-color: rgb(0, 66, 128);
    margin-left: 3%;
    padding: 1vw;
    border-radius: 2vw;
    cursor: pointer;
}

.link:hover{
    background-color:skyblue;
}


.link h3 {
    margin: 1vw;
    color: white;
}

/*Smartphone styles*/
@media (max-width:650px){
    .BioLink{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vw;
    }
    
    .link {
        background-color: rgb(0, 66, 128);
        margin-left: 3vw;
        padding: 1vw;
        border-radius: 2vw;
        cursor: pointer;
    }
    
    .link:hover{
        background-color:skyblue;
    }
    
    
    .link h3 {
        margin: 1vw;
        font-size: 18px;
        color: white;
    }

    .text{
        font-size: 18px;
    }
}