.BioLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.link {
    background-color: rgb(0, 66, 128);
    margin-left: 3%;
    padding: 1vh;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.link:hover{
    background-color:skyblue;
    transform: scale(1.1);
}

.text{
    font-size: 1.5vw;
}
.link h3 {
    font-size: 1.5vw;
    margin: 1vw;
    color: white;
}

/*Smartphone styles*/
@media (max-width:650px){
    .BioLink{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3vw;
    }
    
    .link {
        background-color: rgb(0, 66, 128);
        margin-left: 3vw;
        padding: 1vw;
        border-radius: 2vw;
        cursor: pointer;
    }
    
    .link:hover{
        background-color:skyblue;
    }
    
    
    .link h3 {
        margin: 1vw;
        font-size: 18px;
        color: white;
    }

    .text{
        font-size: 18px;
    }
}