.BioLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: rgb(250, 109, 109);
    margin-left: 3%;
    padding: 1vh;
    border-radius: 2vh;
}

.link h3 {
    margin: 1vh;
    color: white;
}