.content-house{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/moon_perspective.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.big-daddy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_heading{
    font-size: 4vh;
    font-weight: 550;
    margin: 3vh 5vh;
}

.my-line{
    width: 30vh;
    height: 1px;
    background-color: rgb(18, 18, 18);
}

.publication_item{
    font-size: 2vh;
    margin: 2vh;
}
.publication_item p{
    font-size: 1.5vh;
    text-align: left;
}
.publication_cont{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.publication_item img{
    max-height: 30vh;
}

/*Smartphone styling*/
@media (max-width:650px){
    .content-house{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/moon_perspective.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    
    .big-daddy{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content_heading{
        font-size: 20px;
        font-weight: 550;
        margin: 3vw 5vw;
    }
    
    .my-line{
        width: 30vw;
        height: 1px;
        background-color: rgb(18, 18, 18);
    }
 
    .publication_item h2{
        font-size: 12px;
        margin: 2vw;
    }
    .publication_item p{
        font-size: 15px;
        text-align: left;
    }
    .publication_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    .publication_item img{
        max-height: 30vh;
    }
}