.content_box{
    border: 1px solid white;
    border-radius: 10px;
    margin: 3vw;
    transition: all 0.5s ;
    font-weight: bolder;
}
.content_box:hover{
  cursor: pointer;
}
.content_box.expanded {
  height: 70vh;
  width: 70%;
  overflow-y: auto;
}
.content_box.collapsed {
  width: 25%;
}
.content_box .my_line {
    width: 100%;
    height: 2px;
    background-color: grey;
}

.content_box{
    display: block;
    margin:2vw;
    text-align: center;
}
.panel_heading{
  margin: 1vw;
}
/*Smartphone styles*/
@media(max-width:650px){
  .content_box{
      border: 1px solid white;
      border-radius: 10px;
      margin: 3vw;
      transition: all 0.5s ;
      font-weight: bolder;
  }
  .content_box:hover{
    cursor: pointer;
  }
  .content_box.expanded {
    height: 70vw;
    width: 70%;
    overflow-y: auto;
  }
  .content_box.collapsed {
    width: 70%;
  }
  .content_box .my_line {
      width: 100%;
      height: 2px;
      background-color: grey;
  }

  .content_box{
      display: block;
      margin:2vw;
      text-align: center;
  }

  .content_box h2 {
      font-size: 3vw;
      font-weight: 500;
      margin-bottom: 1vw;
  }

}