.content-house{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/moon_perspective.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.big-daddy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-size: 4vh;
    font-weight: 550;
    margin: 3vh 5vh;
}

.my-line{
    width: 30vh;
    height: 1px;
    background-color: rgb(18, 18, 18);
}

.publication_item{
    font-size: 2vh;
    margin: 2vh;
}
.publication_item p{
    font-size: 1.5vh;
    text-align: left;
}
.publication_cont{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.publication_item img{
    max-height: 30vh;
}