.content_box{
    border: 1px solid white;
    border-radius: 10px;
    margin: 3vh;
    transition: all 0.5s ;
    font-weight: bolder;
}
.content_box:hover{
  cursor: pointer;
}
.content_box.expanded {
  height: 50vh;
  width: 70%;
}
.content_box.collapsed {
  height: 20vh;
  width: 25%;
}
.content_box .my_line {
    width: 100%;
    height: 2px;
    background-color: grey;
}

.content_box{
    display: block;
    margin:2vh;
    text-align: center;
}

.content_box h2 {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1vh;
}
