.content-house{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/moon_perspective.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.big-daddy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-size: 4vh;
    font-weight: 550;
    margin: 3vh 5vh;
}

.my-line{
    width: 30vh;
    height: 1px;
    background-color: rgb(18, 18, 18);
}
