.intro_text{
    width: 45%;
    margin: 3vh auto;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1vh black solid;
    border-radius: 2vh;
    color: white;
    font-weight: 550;
}

.intro_text p{
    font-size: small;
}
.intro_text_uni {
    width: auto;
    background-image: url('../images/uni.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 5vh;
}