.software{
    cursor: pointer;
    margin-right: 10px;
    max-height: 40vh;
    color: white;
}
.software_img{
    position: relative;
    width: 30vw;
    height: 70%;
}
.software_img img{
    object-fit: contain; /* Scales and crops the image to fill its container while maintaining its aspect ratio */
    width: 100%; /* Matches the width of the parent div */
    height: 100%; /* Matches the height of the parent div */
}
.software h2{
    font-size: 15px;
    color: white;
}

  .software_img .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* Adjust as needed */
    color: white; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 15px;
}
.software_img:hover .img_overlay {
    opacity: 1;
}

@media (max-width: 650px){
    .software div{
        cursor: pointer;
        margin-right: 10px;
        max-height: 100%;
        color: white;
    }
    .software h2{
        font-size: 15px;
    }
    .software_img{
        position: relative;
        width: 50vw;
        height: 70%;
    }
}