.software{
    cursor: pointer;
    margin-right: 10px;
    max-height: 100%;
    color: white;
}
.software img{
    max-height: 70%;
}
.software h2{
    font-size: 15px;
    color: white;
}
@media (max-width: 650px){
    .software div{
        cursor: pointer;
        margin-right: 10px;
        max-height: 100%;
        color: white;
    }
    .software img{
        max-height: 70%;
    }
    .software h2{
        font-size: 15px;
    }
}