
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    height: 58vh;
  }
  
  .each-slide-effect span {
    font-size: 20px;
    font-weight: bold;
    background: lightcoral;
    color: white;
    border-radius: 1vh;
    border: 0.1vh solid white;
    padding: 10px;
    text-align: center;
  }

.board {
    margin-left: 35vh;
    margin-right: 35vh;
    margin-top: 0.5vh;
}

a:link, a:visited {
  color: white;
  cursor:pointer;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: greenyellow;
}
